header {
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
}

header img {
    height: 50px;
    width: auto;
}

h1 {
    font-size: large;
}

.caixa {
    border: 1px solid black;
    padding: 10px;
}